.topbar {
    width: 100%;
    background-color: #1551a720;
    border-bottom: 5px solid #1551a7;
}
.navbar .navbar-nav-link {
    color: #1551a755;
    padding: 12px;
}
.navbar .navbar-nav {
    margin-top: 8px;
}
.navbar .navbar-nav .nav-item {
    line-height: 5px;
}
.navbar .navbar-nav-link span {
    font-weight: 300;
    margin-left: 5px;
    color: #1551a7;
}
.navbar .navbar-nav-link span.label {
    font-size: 13pt;
    text-transform: uppercase;
    color: #1551a780;
}
.bg-attends .subheadlogo {
    min-width: 66px;
}
.topbar .time {
    margin-right: 110px;
    color: #3b537a;
}
.topbar .day {
    color: #3b537a;
}
.topbar .time,
.topbar .day {
    line-height: 44px;
}
.topbar h2,
.topbar .ymd span i,
.topbar .clockminute span i,
.topbar .time,
.topbar .day,
.navbar .navbar-nav-link,
.navbar .navbar-nav-link span {
    font-size: 20pt;
}
.topbar h2 {
    margin-bottom: 0;
    color: #3b537a;
    text-transform: uppercase;
}
.topbar .ymd span i,
.topbar .clockminute span i {
    color: #1551a755;
}
.topbar .navbar-brand {
    margin-right: 0;
}
.topbar .navbar-brand img {
    height: auto;
    padding-top: 0;
    margin-bottom: -68px;
}
.bg-attends .topbar {
    border-bottom: 5px;
    border-color: blue;
}

.container-fluid {
    padding: 0 20px;
}
.progress {
    width: 100px;
    height: 100px;
    background: none;
    box-shadow: none;
    position: absolute;
    top: 0;
    right: 0;
}
.progress .track,
.progress .fill {
    fill: #fff;
    stroke-width: 5;
    transform: rotate(90deg)translate(0px, -80px);
}
.progress .track {
    stroke: rgba(56, 130, 46, 0.48);
}
.progress .fill {
    stroke: #fff;
    stroke-dasharray: 219.99078369140625;
    stroke-dashoffset: -219.99078369140625;
    transition: stroke-dashoffset 1s;
}
.progress.blue .fill {
    stroke: rgb(104, 214, 198);
}
.progress.green .fill {
    stroke: #38822e;
}
.progress .value,
.progress .text {
    fill: #38822e;
    font-size: 20px;
    text-anchor: middle;
}
.progress .text {
    font-size: 14px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.dblock {
    max-width: 50px !important;
    display: none !important;
}
.member .card .description .latetime {
    color: #f85656;
    font-size: 12px;
    float: right;
    padding-right: 5px;
    opacity: 1;
    font-style: inherit;
    margin-left: 5px;
}
.member .card .description h3 {
    line-height: 1.1;
    margin: 0;
    font-size: 14px;
    color: #706f6f;
    padding-right: 14px;
}
.member .card .description p {
    margin: 0;
}
.member .card .description .pustatus {
    position: absolute;
    right: 0;
}
.member .card .description {
    padding: 10px 0 0 12px;
    height: 100px;
}
.member .card p {
    color: #706f6f;
    font-size: 12px;
}
.member .card h2 span.bo2,
.member .card h2 span.bo {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-bottom: 4px;
    border-radius: 50%;
}
.bo2,
.bo {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-bottom: 4px;
    border-radius: 50%;
}
.bo {
    background: #38822e;
}
.bo2 {
    background: #f85656;
}
span.icon-plus3 {
    color: #57abcf;
}
span.icon-briefcase3 {
    color: #ee9248;
}
span.icon-alarm {
    color: #9d8aa5;
}
span.icon-lock {
    color: #89a652;
}
.side {
    max-height: 860px;
    height: 100% !important;
    overflow-y: scroll;
}
.side .card p {
    padding: 15px;
}
.emoji {
    display: inline-block;
    padding: 0;
}
.emoji li p {
    position: absolute;
    bottom: 15px;
}
.emoji li {
    padding: 0;
    list-style-type: none;
    float: left;
    margin: 0px 24px;
    margin-top: -25px;
}
.emoji li span {
    width: 30px;
    height: 30px;
    top: 14px;
}
.emoji li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2f2f2f;
    background: #fff;
    text-align: center;
}
.emoji span.cat-t {
    position: relative;
    top: -12px;
    left: 15px;
    font-size: 16pt;
}
.emoji span.cat-t.first {
    color: #00b74a;
}
.emoji span.cat-t.second {
    color: #de9e00;
}
.emoji span.cat-t.third {
    color: #999;
}
.emoji .discuss {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .125);
}
.emoji .discuss.first {
    background: #cbffe0;
}
.emoji .discuss.second {
    background: #fff0cb;
}
.emoji .discuss.third {
    background: #FFF;
}
.gwidget {
    padding-left: 15px;
    padding-right: 0;
    border-left: 1px solid #CCC;
}
.member {
    padding-right: 15px;
}
.member .card h2 span {
    margin-left: 3px;
    margin-top: -1px;
    font-size: 14px;
    position: absolute;
    right: 55px;
    top: 0;
}
.member .card h2 {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    position: relative;
}
.member .card .card-body.statusbo2 img,
.member .card .card-body.statusnull img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.member .card .card-body.statusicon-lock,
.member .card .card-body.statusicon-plus3,
.member .card .card-body.statusicon-briefcase3,
.member .card .card-body.statusbo2,
.member .card .card-body.statusnull {
    opacity: .5;
}
.member .card {
    border: none;
    box-shadow: none;
}

.memeber-list { 
    height: 844px;
}

.member .card .pic {
    padding: 0;
}
.member .profile {
    width: 80px;
    height: 102px;
    border-radius: 0;
    border: none;
}
.rightbar-title {
    font-size: 16pt;
    text-transform: uppercase;
    color: #1551a780;
}
.mix p {
    padding-left: 55px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 22px;
}
.mix {
    margin-bottom: 1rem;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
    margin-right: 12px;
    min-height: 77px;
}
.mix[data-order]:after {
    position: absolute;
    /* content: attr(data-order); */
    font-size: 1rem;
    font-weight: bold;
    color: #aaa;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: 0;
}
.controls button {
    background: transparent;
    border: none;
    position: absolute;
    text-indent: -99999px;
}
.wpnum {
    font-size: 22px;
    padding: 15px;
    position: absolute;
    font-weight: bold;
}
.status:not(.memberstatus) {
    border-left: 1px solid #CCC;
    min-height: calc(100vh - 132px);
}
.status .emoji li {
    border: none;
    width: auto;
    background: transparent;
    border-radius: 0;
    margin: 0;
    text-align: left;
    margin-left: 10px;
}
.status .emoji {
    position: fixed;
    height: auto;
    flex-direction: column;
}
.bottom-state {
    display: flex;
    margin: 0;
    padding: 0;
}
.bottom-state .box-radius {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-state span.radius {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 20px;
    margin-bottom: 0;
}
.bottom-state span.name {
    line-height: normal;
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-top: 5px;
}
.white-radius {
    background: #FFF;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #CCC;
}

@media (max-width: 1024px) {
    .member {
        
    }
    
    .gwidget {
        
    }
}
@media (min-height: 1080px) { 
    .memeber-list {
        height: 754px;
    }
}

@media (min-height: 796px) and (max-height: 1080px) { 
    .memeber-list {
        height: 600px;
    }
}

@media (max-height: 796px) { 
    
    .member .card .description h3 {
        font-size: 10px;
    }
    
    .member .card h2 {
        font-size: 11px;
    }
    
    .memeber-list {
        height: 520px;
    }
    
    .member .profile {
        height: 80px;
        width: 60px;
    }
    
    .member .card .description {
        height: 80px;
    }
    
    .member .mt30.mb30 {
        margin-bottom: 10px!important;
        margin-top: 10px!important;
    }
    
    .topbar h2, .topbar .ymd span i, .topbar .clockminute span i, .topbar .time, .topbar .day, .navbar .navbar-nav-link, .navbar .navbar-nav-link span {
        font-size: 12pt
    }
    
    .mix p {
        font-size: 12px;
    }
    
    .wpnum {
        font-size: 12px;
    }
}

@media (max-height: 768px) and (max-width: 1024px) { 
    .member .profile {
        height: 60px;
        width: 40px;
    }
    
    .member .card h2 {
        font-size: 8px;
    }
    
    .member .card .description { 
        padding-top: 5px;
    }
    
    .member .card .description h3 {
        font-size: 9px;
    }
    
    .memeber-list {
        height: 425px;
    }
    
    .bottom-state .box-radius {
        width: 80px;
    }
    
    .white-radius {
        width: 30px;
        height: 30px;
    }
    
    .bottom-state span.name {
        font-size: 11px;
    }
    
    .bottom-state span.radius {
        width: 15px;
        height: 15px;
        font-size: 12px;
    }
    
    .member .mt30.mb30 {
        margin-bottom: 10px!important;
        margin-top: 30px!important;
    }
}
